<link rel="stylesheet" href="../css/connect.css">

<header>
  <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal">
    <a class="pure-menu-heading hot-swapper" href="./index.html"><i class="fa fa-home"></i>&nbsp;NOMP</a>

    <div class="fa tooltip status" id="loadStat" title="" tooltip-side="left" offset-x="-13" offset-y="3"></div>
  </div>
</header>

<main>
  <div id="main">
    <div class="miningOption" id="addNewPool">
      <div class="miningOptionInstructions">
        <div>
          <p>Connect to a pool</p>

          <form ng-submit="tryConnect(pool_url, pool_user)">
            <input ng-model="pool_url" type="text" name="pool_address" placeholder="www.example.org"/>
            <label class="arrow-input">
              <input ng-model="pool_user" type="text" name="address" placeholder="ca23629e2647387e99542fc0b25cdf75e101c3c0"
                      ng-focus="showKeyDropdown()" ng-blur="hideKeyDropdown()"/>
              <ul class="bluelist" id="poolKeyDropdown">
                <li ng-repeat="key in config.keys | filter:addrQuery" ng-click="setConnectAddress(key.hash160)"
                    ng-focus="showKeyDropdown()" ng-blur="hideKeyDropdown()" ng-class="{selected: key.id === selectedKey}">
                  {{key.name}} - {{key.hash160}}
                </li>
              </ul>
            </label>
            <button type="submit" ng-disabled="connecting" class="fa fa-arrow-right"></button>
          </form>
        </div>
        <div>
          <form ng-submit="">
            <div class="listDiv">
              <label class="arrow-input">
                <input type="text" class="searchBox" ng-model="reconnectQuery" placeholder="Search">

                <div class="fa fa-search"></div>
              </label>
              <ul class="list bluelist">
                <li ng-repeat="pool in config.pools | filter:reconnectQuery" ng-click="toggleSelectedPool(pool.id)"
                    ng-class="{selected: pool.id === selectedPool}" ng-dblclick="tryConnect(pool.url, pool.user)">
                  {{pool.name}} ({{pool.url}}) {{pool.coin ? '[' + pool.coin + ']' : ''}} - {{pool.user}}
                </li>
              </ul>
            </div>
            <div class="ctrlDiv">
              <button ng-click="tryConnect(getSelectedPool().url, getSelectedPool().user)" name="connect"
                      class="fa fa-arrow-right" ng-disabled="selectedPool === 0 || connecting"></button>
              <button ng-click="removePool(selectedPool)" name="remove" class="fa fa-trash-o"
                      ng-disabled="selectedPool === 0 || connecting"></button>
              <button class="fa fa-pencil" name="edit" disabled="disabled"></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="orHolder">
      <div id="orLine"></div>
    </div>
    <div class="miningOption" id="manageKeys">
      <div class="miningOptionInstructions">
        <div><p>Mining keys</p></div>
        <div>
          <form ng-submit="" id="keyCtrl">
            <div class="listDiv">
              <label class="arrow-input">
                <input type="text" class="searchBox" ng-model="addrQuery" placeholder="Search">

                <div class="fa fa-search"></div>
              </label>
              <ul class="list bluelist">
                <li ng-repeat="key in config.keys | filter:addrQuery" ng-click="toggleSelectedKey(key.id)"
                    ng-class="{selected: key.id === selectedKey}">
                  {{key.name}} - {{key.hash160}}
                </li>
              </ul>
            </div>
            <div class="ctrlDiv">
              <button class="fa fa-upload" name="get_keys" ng-disabled="selectedKey == 0"></button>
              <button name="remove" class="fa fa-trash-o" ng-disabled="selectedKey == 0"></button>
              <button class="fa fa-pencil" name="edit" disabled="disabled"></button>
              <button name="new" class="fa fa-plus"></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

<footer ng-include="'./components/footer.html'"></footer>
