<link rel="stylesheet" href="../css/connect.css">

<header>
  <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal">
    <a class="pure-menu-heading"><i class="fa fa-home"></i>&nbsp;NOMP</a>

    <div class="fa tooltip status" id="loadStat" title="" tooltip-side="left" offset-x="-13" offset-y="3"></div>
  </div>
</header>

<main>
  <div id="main">
    <div class="miningOption" id="addNewPool">
      <div class="miningOptionInstructions">
        <div>
          <p>Connect to a pool</p>
        </div>
        <div>
          <form class="manage-list" ng-submit="">
            <div class="listDiv">
              <label class="arrow-input">
                <input type="text" class="searchBox" ng-model="reconnectQuery" placeholder="Search">

                <div class="fa fa-search"></div>
              </label>
              <ul class="list bluelist poolList">
                <li ng-repeat="pool in pools | filter:reconnectQuery" ng-click="toggleSelectedPool(pool.id)"
                    ng-class="{selected: pool.id === selectedPool}" ng-dblclick="tryConnect(pool.url, pool.user)"
                    title="{{pool.users.join(' ')}}">
                  <span>{{pool.name || ''}}</span>
                  <span class="paleBlue">{{pool.url}}</span>
                </li>
              </ul>
            </div>
            <div class="ctrlDiv">
              <button ng-click="tryConnect(getSelectedPool().url, getSelectedPool().user)" name="connect"
                      class="fa fa-arrow-right" ng-disabled="selectedPool === 0 || connecting"
                      title="Connect to pool"></button>
              <button ng-click="removePool(selectedPool)" title="Delete pool" name="remove" class="fa fa-trash-o"
                      ng-disabled="selectedPool === 0 || connecting"></button>
              <button class="fa fa-pencil" name="edit" title="Edit pool"
                      ng-disabled="selectedPool === 0 || connecting"></button>
              <button name="add" class="fa fa-plus" title="Add pool" ng-click="showAddPoolDialog()"></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="orHolder">
      <div id="orLine"></div>
    </div>
    <div class="miningOption" id="manageKeys">
      <div class="miningOptionInstructions">
        <div><p>Manage keys</p></div>
        <div>
          <form class="manage-list" ng-submit="" id="keyCtrl">
            <div class="listDiv">
              <label class="arrow-input">
                <input type="text" class="searchBox" ng-model="addrQuery" placeholder="Search">

                <div class="fa fa-search"></div>
              </label>
              <ul class="list bluelist">
                <li ng-repeat="key in keys | filter:addrQuery" ng-click="toggleSelectedKey(key.id)"
                    ng-class="{selected: key.id === selectedKey}" title="{{key.hash160}}">
                  <span>{{key.name}}</span>
                  <span class="paleBlue">{{key.hash160}}</span>
                </li>
              </ul>
            </div>
            <div class="ctrlDiv">
              <button class="fa fa-upload" name="get_keys" title="Export key" ng-disabled="selectedKey == 0"></button>
              <button name="remove" class="fa fa-trash-o" title="Delete key" ng-disabled="selectedKey == 0"></button>
              <button class="fa fa-pencil" name="edit" title="Edit key" ng-disabled="selectedKey == 0"></button>
              <button name="add" class="fa fa-plus" title="New key" ng-click="showNewKeyDialog()"></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
