<h2><a href="./index.html" class="fa fa-arrow-circle-left"
       style="color: white; text-decoration: none; margin-right: 5px;"></a>Pool</h2>
<ul>
  <li>Pool url: {{pool.url}}</li>
  <li>Pool user: {{pool.user}}</li>
  <li>Updated time: {{pool.stats.time * 1000 | date : 'HH:mm:ss yyyy-MM-dd'}}</li>
  <li>Number of workers: {{pool.stats.global.workers}}</li>
</ul>
<h5>Pools:</h5>
<ul>
  <li style="font-size: 15px;" ng-repeat="(name, data) in pool.stats.pools">{{name}} ({{data.algorithm}})
    {{data.hashrateString}} - valid shares: {{data.poolStats.validShares}}, invalid: {{data.poolStats.invalidShares}}.
    blocks pending: {{data.blocks.pending}}, orphaned: {{data.blocks.orphaned}}, confirmed: {{data.blocks.confirmed}}
  </li>
</ul>
<h5>Raw data:</h5>
<pre>{{pool.stats}}</pre>