<link rel="stylesheet" href="../css/pool.css">

<header>
  <h2 style="color: white; text-decoration: none;">
    <a href="./index.html" class="fa fa-arrow-circle-left"
       style="color: white; text-decoration: none; margin-right: 5px;"></a>
    {{pool.url}}
  </h2>
</header>

<main>
  <div class="pure-g-r" id="statBoxes">
    <div class="pure-u-1-2">
      <div class="boxStats" id="boxAlgoStats">
        <div class="boxLowerHeader">Pools / Coins</div>
        <div class="boxStatsList">
          <div ng-repeat="(name, data) in pool.stats.algos">
            <div><i class="fa fa-flask"></i>{{name}}</div>
            <div><i class="fa fa-users"></i>{{data.workers}} Miners</div>
            <div><i class="fa fa-tachometer"></i>{{data.hashrateString}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="pure-u-1-2">
      <div class="boxStats" id="boxPoolStats">
        <div class="boxLowerHeader">Pools / Coins</div>
        <div class="boxStatsList">
          <div ng-repeat="(name, data) in pool.stats.pools">
            <div><i class="fa fa-dot-circle-o"></i>{{name}}</div>
            <div><i class="fa fa-users"></i>{{data.workerCount}} Miners</div>
            <div><i class="fa fa-tachometer"></i>{{data.hashrateString}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
