<div id="communityFooter">Community&nbsp;<i class="fa fa-comment"></i>&nbsp;: &nbsp;<a target="_blank"
                                                                                       href="https://kiwiirc.com/client/irc.freenode.net/nomp">#nomp
  IRC</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a target="_blank" href="http://reddit.com/r/nomp">/r/nomp</a> &nbsp;&nbsp;|&nbsp;&nbsp;
  <iframe src="http://ghbtns.com/github-btn.html?user=zone117x&repo=node-open-mining-portal&type=watch&count=true"
          allowtransparency="true" frameborder="0" scrolling="0" width="140" height="20"></iframe>
</div>