<!DOCTYPE html>

<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Add new pool</title>
  <link rel="stylesheet" href="/bower_components/open-sans-fontface/open-sans.css">
  <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/bower_components/pure/pure-min.css">
  <link rel="stylesheet" href="/bower_components/nprogress/nprogress.css">
  <link rel="stylesheet" href="/bower_components/tooltipster/css/tooltipster.css">
  <link rel="stylesheet" href="/bower_components/tooltipster/css/themes/tooltipster-light.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/dialog.css">
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/nprogress/nprogress.js"></script>
  <script src="/bower_components/placeholdem/placeholdem.min.js"></script>
  <script src="/bower_components/tooltipster/js/jquery.tooltipster.min.js"></script>
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/js/dialog.js"></script>
  <script src="/js/main.js"></script>
</head>
<body ng-app="dialogApp" ng-controller="AddPoolCtrl" id="addPool">
<header>
  <h2>Add new pool</h2>
</header>
<main>
  <form ng-submit="tryConnect(pool_url, pool_user)">
    <input ng-model="pool_url" type="text" name="pool_address" placeholder="www.example.org"/>
    <input ng-model="pool_user" type="text" name="address" placeholder="ca23629e2647387e99542fc0b25cdf75e101c3c0"/>
    <button type="submit" name="add" ng-disabled="connecting" class="fa fa-plus" ng-click="addPool(pool_url, pool_user)"></button>
    <button type="submit" name="connect" ng-disabled="connecting" class="fa fa-refresh"></button>
  </form>
</main>
</body>
</html>
