#addPool
  max-width 350px
  input
    margin-top 5px
    margin-bottom 0
    width calc(100% - 10px)
  button
    width calc(50% - 5px)
    height 40px
    float left
    &:last-child
      float right
    &[name=add]
      background #2ecc71
    &[name=connect]
      background #2fd7d6

#about
  max-width 450px
  main
    font-size 12px
  .githubForkMe
    background url(/img/forkme_right_red_aa0000.png)
    position fixed
    top 0
    right 0
    width 149px
    height 149px
    cursor pointer
