#addPool
  max-width 350px
  input
    margin-top 5px
    margin-bottom 0
    width calc(100% - 10px)
  button
    width calc(50% - 5px)
    height 40px
    float left
    &:last-child
      float right
    &[name=add]
      background #2ecc71
    &[name=connect]
      background #2fd7d6
  header
    color #fff
