#statBoxes
  margin 0

#statBoxes > div
  display flex

#boxAlgoStats
  background-color #b064e1
  margin 0 6px 0 0

#boxPoolStats
  background-color #10bb9c
  margin 0 0 0 6px

.boxStats
  color white
  padding 10px
  flex 1 1 auto
  display flex
  flex-direction column

.boxStatsList
  display flex
  flex-flow row wrap
  justify-content space-around
  opacity 0.77
  margin-bottom 5px
  flex 1 1 auto
  align-content center

.boxStatsList i.fa
  height 15px
  width 33px
  text-align center

.boxStatsList > div
  padding 5px 20px

.boxStatsList > div > div
  padding 3px
